<div id="tp-add" class="tp">
  <div class="row">
    <div><!-- {{PARTIAL: components/preview_box/preview_box.html | label=New Record, id=ap, color=}} --></div>
    <div><div class="lbl">Position</div>
      <div class="rg">
        <label><input type="radio" name="apos" value="Before" checked> Before</label>
        <label><input type="radio" name="apos" value="After"> After</label>
      </div>
    </div>
  </div>
  <!-- {{PARTIAL: components/slider/slider.html | id=add-slider}} -->
  <input type="hidden" id="as2" value="0">
  <input type="hidden" id="ae2" value="1">
  <!-- {{PARTIAL: components/nudge_grid/nudge_grid.html | prefix=as}} -->
  <button class="btn bp" id="btn-add">ADD RECORD (????)</button>
</div>
